<form>
  <div class="row">
    <div class="columns">
      <label>Title
        {{input placeholder="held hands with a pretty girl" value=title}}
      </label>
    </div>
    <div class="columns">
      <label>Why?
        {{textarea placeholder="because I got high" value=reason}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="input-group-button columns">
      <input type="submit" class="button" value="Submit" {{ action 'save' }}>
    </div>
  </div>
</form>
