.moment {
  display: flex;
  flex-direction: column;
}
.moment:not(:last-child) {
  border-bottom: 1px dashed gray;
  padding-bottom: 2rem;
}
.moment:not(:first-child) {
  padding-top: 2rem;
}

.moment-title {
  flex:1;
}

.moment-date {
  color: gray;
}

.moment-meta {
  display: flex;
  flex-direction: row;
}

.moment-meta .moment-date {
  flex:1;
}
